
.home-banner-container {
  display: flex;
  align-items: center; 
  gap: 2rem;
  
  max-width: 1200px; 
  margin: 4rem auto; 

  padding: 3rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.home-bannerImage-container {
  display: none;
}

.home-text-section {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.home-image-section {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image-section img {
  border-radius: 8px; 
  width: 100%;
  max-width: 600px;
}

@media (max-width: 1000px) {
  .home-banner-container {
    padding: 2rem;
    margin: 3rem 1rem; 
  }

  .primary-heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 800px) {
  .home-banner-container {
    flex-direction: column-reverse; 
    text-align: center;
    gap: 1.5rem;
    margin: 1rem auto; 
    width: 95%
  }
  
  .home-text-section {
    align-items: center;
    margin-top: 1rem; 
  }

  .primary-heading {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  .primary-text {
    font-size: 1rem;
    max-width: 100% !important;
    margin-bottom: 1.5rem;
  }

  .secondary-button {
    width: 100%;
    max-width: 300px;
    justify-content: center;
  }

  .home-image-section img {
    max-width: 400px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .home-banner-container {
    padding: 1.5rem;
  }

  .primary-heading {
    font-size: 1.75rem;
  }
}
