
.home-banner-container {
  display: flex;
  align-items: center; 
  gap: 2rem;
  
  max-width: 1200px; 
  margin: 4rem auto; 

  padding: 3rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.home-bannerImage-container {
  display: none;
}

.home-text-section {
  flex: 1; 
}

.home-image-section {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-image-section img {
  border-radius: 8px; 
  width: 100%;
}


@media (max-width: 800px) {
  .home-banner-container {
    flex-direction: column-reverse; 
    margin: 2rem auto; 
    padding: 2rem;
  }
  
  .home-text-section {
    align-items: center;
    margin-top: 2rem; 
  }

  .home-text-section .primary-heading {
    text-align: center;
    max-width: 90%;
  }

  .home-text-section .primary-text {
    text-align: center;
    max-width: 80%;
  }
}
