.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h1 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #34495e;
  margin: 5px 0;
}

.delete-btn {
  padding: 8px 16px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.2s;
}

.delete-btn:hover {
  background-color: black;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.searchBar input {
  padding: 10px 15px;
  width: 250px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.addProduct {
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
  padding: 20px;
  max-width: 900px;
  margin: 30px auto 20px auto;
  background-color: #e3f2fd; 
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  align-items: center;
}

.addProduct h3 {
    width: 100%; 
    margin-bottom: 5px;
    color: #0d47a1;
}

.addProduct input {
  flex: 1 1 200px; 
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-btn {
  padding: 10px 20px;
  background-color: #fe9e0d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.add-btn:hover {
  background-color: #e48f0f;
}